body {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-div {
    background-image: url('./bg.jpg');
    width: 50%;
    margin-top: 2rem;
    margin-left: 25%;
    padding-top: 1.5rem;
    height: 90vh;
    text-align: center;
}

.second-div {
    border: 2px solid white;
    width: 60%;
    height: 80%;
    padding-top: 5%;
    margin-left: 20%;
}

h2 {
    padding-top: 5%;
    font-size: 2.4rem;
    font-weight: 300;
    padding: 0.8rem;
}

#result  {
    font-size: 7.5rem;
    font-weight: 400;
    padding: 0.2rem;
    color: green;
}

.btn {
    background-color: rgb(13, 13, 119);
    padding: 0.5rem;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 29%;
    margin-top: 1rem;
}

.second {
    margin-left: 33%;
}
.github {
    width: 3rem;
    margin: 0.7rem;
}
@media (max-width: 767px) {    
    .first-div {
        width: 80%;
        margin-top: 4rem;
        margin-left: 10%;
        padding-top: 2.5rem;
        height: 70vh;
    }

    .second-div {
        width: 70%;
        height: 80%;
        padding-top: 5%;
        margin-left: 15%;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 300;
        padding: 0.8rem;
    }

    #result  {
        font-size: 5.5rem;
        font-weight: 300;
        padding: 0.2rem;
    }

    .btn {
        padding: 0.5rem;
        border-radius: 3px;
        font-size: 0.5rem;
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 29%;
        margin-top: 1rem;
    }

    .second {
        margin-left: 32%;
    }
}
